# class 4

In [1]:
a=10

In [2]:
if a < 15 :
    pass

In [3]:
a<15

True

In [4]:
if a < 15:
    print('my name is PD')

my name is PD

In [5]:
if 24 < 15:
    print('my name is PD')

In [6]:
24<15

False

In [7]:
if 10<3:
    print('10 is less than 3')
else:
    print('statement is wrong')

statement is wrong

In [8]:
income = 100
if income < 50:
    print('i will be able to buy a phone')
elif income < 70:
    print ('i will be able to buy a car')
elif income <90:
    print ('i will be able to rent a house')
else:
    print ('i wont be able to buy anything')

i wont be able to buy anything

In [9]:
income = int(input())
if income < 50:
    print('i will be able to buy a phone')
elif income < 70:
    print ('i will be able to buy a car')
elif income <90:
    print ('i will be able to rent a house')
else:
    print ('i wont be able to buy anything')

89
i will be able to rent a house

In [10]:
Total_price = int(input())
if Total_price > 20000 :
    discount = Total_price * .20
    print('discount will be' , discount)
elif Total_price <= 7000:
    discount = Total_price *.05
    print('discount will be' , discount)
else :
    print('wont be able to give any discount')

6789
discount will be 339.45000000000005

In [11]:
Total_price = int(input())
if Total_price > 20000 :
    discount = Total_price * .20
    print('discount is' , discount)
elif Total_price <= 7000:
    discount = Total_price *.05
    print(' No discount')

70000
discount is 14000.0

In [12]:
coup = "SUDHANSHU5"
if coup == "SUDHANSHU5":
    print('you will be able to get a discount of 5%')
    paid_amount = 7080-7080*.05
    print ( ' you will be get one neuron with this amount', paid_amount)
else:
    print( 'Please use a valid coupne code')

you will be able to get a discount of 5%
 you will be get one neuron with this amount 6726.0

In [13]:
coup = input()
if coup == "SUDHANSHU5":
    print('you will be able to get a discount of 5%')
    paid_amount = 7080-7080*.05
    print ( ' you will be get one neuron with this amount', paid_amount)
else:
    print( 'Please use a valid coupne code')

SUDHANSHU5
you will be able to get a discount of 5%
 you will be get one neuron with this amount 6726.0

In [14]:
study_hour = int(input())
if study_hour < 1:
    print('it may take 8 to 9 months to make a transition')
elif study_hour < 4 and study_hour >1:
    print('it may take 6 months to make a transition')
elif study_hour >10 :
    print('it may take 3 months to make a transition')
else:
    print('it will be difficult')

6
it will be difficult

In [15]:
study = float(input())
if study < 1 and study > 0.5:
    print('you may succeed')
elif study <6 and study >1:
    print('succeed')
else:
    print('fail')

3
succeed

In [16]:
a =9
if a==9:
    print('valid')

valid

In [17]:
s = input('enter starting to start')
course= input('enter a course name')
service = input('enter a servise name')
if s== 'oneneuron':
    if course == 'DSA':
        print('yes its available under one neruon and in multiple mode forjob preparation and core concept')
    elif course == 'Blockchain':
        print('This is not available as of now, Kindly rise your demand we will fulfil in 60 days')
    elif course == "FSDS":
        print('Yes, its available you can start learning')
    else:
        print( 'this course is not available please rise your demand')
elif s == 'oneneuronservice':
    if service == 'course request':
         print('*NOTE: Dear Learner, You can rise demand to any new course and we will fulfil it within 60 days')
    elif service == 'module':
        print ('xxxxx')
    elif service == 'doubt':
        print('aaaaaaaaa')
    elif service =='workwith us':
        print('hhhhhhhhhhh')
    else :
        print('nnnnnnnnnn')
else:
    print('kindly connect our team')

enter starting to startoneneuron
enter a course namehhhh
enter a servise namemodule
this course is not available please rise your demand

# FOR LOOP AND WHILE LOOP

In [18]:
l=[1,2,3,4,5,6,7]
for i in l :
    print(i)

1
2
3
4
5
6
7

In [19]:
for i in 'sudh':
    print(i)

s
u
d
h

In [20]:
t=(1,3,2,4,5,6,7,8)

In [21]:
for i in t:
    print (i)

1
3
2
4
5
6
7
8

In [22]:
l=[1,3,4.5,'sudh']

In [24]:
for i in l:
    print(type(i),'type of' , i)

<class 'int'> type of 1
<class 'int'> type of 3
<class 'float'> type of 4.5
<class 'str'> type of sudh

In [25]:
type (1)

int

In [27]:
l=[1,4.5,5]
for i in l:
    print(i+2)

3
6.5
7

In [28]:
l=[1,4.5,5]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
6.5
7

In [29]:
l1

[3, 6.5, 7]

In [42]:
l=[2,34,55,6,'sudh',6+7j,[44,65,77]]

In [43]:
for i in l:
    if type (i)==int:
        print(i)
    elif type (i)==list:
        for j in i:
            if type(j)==int:
                print(j)

2
34
55
6
44
65
77

In [49]:
l=[2,45,78,'sudh',6+7j,[56,67,78,'hgfhg']]
#q1. Try to print all index of all the elements
#q2. Try to extract all the list of char if the element is string
#q3. Try to return a list after doing a sqare of all the int element.

In [50]:
range (4)

range(0, 4)

In [51]:
len(l)

6

In [52]:
for i in range(len(l)):
    print ('index',i, 'for an element',l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element sudh
index 4 for an element (6+7j)
index 5 for an element [56, 67, 78, 'hgfhg']

In [53]:
# another method
for i in enumerate (l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 'sudh')
(4, (6+7j))
(5, [56, 67, 78, 'hgfhg'])

In [54]:
# another method
for i,j in enumerate (l):
    print(i,j)

0 2
1 45
2 78
3 sudh
4 (6+7j)
5 [56, 67, 78, 'hgfhg']

In [60]:
#q2. Try to extract all the list of char if the element is string
l=[2,45,78,'sudh','kumar',6+7j,[56,67,78,'hgfhg']]
for i in l:
    if type(i)==str:
        l1= []
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']
['k', 'u', 'm', 'a', 'r']

In [62]:
#q3. Try to return a list after doing a sqare of all the int element.
l=[2,45,78,'sudh','kumar',6+7j,[56,67,78,'hgfhg']]
for i in l:
    if type(i)==int:
        l2=[]
        l2.append(i**2)
        print(l2)

[4]
[2025]
[6084]